@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

/********************************************************************************
// GENERAL GLOABL STYLES //
*********************************************************************************/

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow Condensed";
  color: white;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/********************************************************************************
// GLOBAL TYPOGRAPHY //
*********************************************************************************/

h1 {
  font-family: "Bellefair";
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;

  @media screen and (max-width: 655px) {
    font-size: 80px;
  }
}

h2 {
  font-family: "Bellefair";
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;

}

h4 {
  font-family: "Barlow Condensed";
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0;

  @media screen and (max-width: 655px) {
    font-size: 16px;
  }
}

h5 {
  font-family: "Bellefair";
  font-size: 28px;
  letter-spacing: 4.75px;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0;

  @media screen and (max-width: 655px) {
    font-size: 16px;
  }
}

h6 {
  font-family: "Barlow Condensed";
  font-size: 16px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

p {
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  margin: 0;

  @media screen and (max-width: 1233px) {
    font-size: 16px;
    line-height: 1.8;
  }

  @media screen and (max-width: 655px) {
    font-size: 15px;
    line-height: 1.8;
  }
}
